@import '../../../../../styles/scss/variables';
@import '../../../../../styles/scss/breakpoint';
@import '../../../../../styles/scss/shared/helper';

.section {
  padding: 80px 0;
}

.container {
  @include x-small {
    padding: 0!important;
  }
}

.content {
  @include tablets {
    padding: 50px!important;
  }

  @include small {
    flex-direction: column!important;
  }

  @include x-small {
    padding: 50px 20px!important;
    border-radius: 0!important;
  }
}

.information {
  position: relative;
  margin-right: 50px;
  z-index: 5;

  @include large {
    width: 50%;
  }

  @include tablets {
    margin-right: 25px;
  }

  @include small {
    margin: 0 0 50px 0;
    width: 100%;
  }

  @include x-small {
    margin-bottom: 30px;
  }
}

.title {
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;

  @include large {
    font-size: 25px;
  }

  @include tablets {
    font-size: 26px;
  }

  @include small {
    font-size: 30px;
  }

  @include x-small {
    margin-bottom: 30px;
    font-size: 26px;
  }
}

.text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;

  @include tablets {
    font-size: 16px;
  }

  @include small {
    font-size: 20px;
    line-height: 1.5;
  }

  @include small {
    font-size: 16px;
    line-height: 1.5;
  }
}

.form_content {
  @include large {
    width: 50%;
  }

  @include small {
    width: 100%;
  }
}

.item {
  position: relative;
  margin-bottom: 30px;
  width: 450px;
  z-index: 5;

  @include large {
    width: 100%;
  }
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: $color-white;
  transition: top 0.2s ease-out;

  &.active {
    top: -30%;

    @include tablets {
      top: -35%;
    }
  }
}

.label_textarea {
  top: 15%;
  transform: translateY(0);

  @include tablets {
    top: 15%;
  }
}

.input {
  width: 100%;
  height: 55px;
  padding: 15px;
  background-color: rgba(59, 59, 59, 0.6);
  border-radius: 5px;
  border: none;
  color: $color-white;
  font-family: 'Noto Sans', sans-serif;

  @include tablets {
    height: 45px;
  }
}

.textarea {
  height: 80px;
}

.item_textarea {
  position: relative;
  margin-bottom: 25px;
  z-index: 5;

  @include tablets {
    margin-top: 40px;
  }
}

.button {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: $color-yellow;
  line-height: 55px;
  @include primaryFont();
  transition: background-color .2s ease-in-out;
  z-index: 5;

  @include large {
    font-size: 15px;
  }

  @include tablets {
    height: 45px;
  }

  @include x-small {
    height: 60px;
  }

  &:hover {
    background-color: darken($color-yellow, 10%);

    @include large {
      background-color: $color-yellow;
      cursor: auto;
    }
  }
}
