@import '../../../../../styles/scss/variables';
@import '../../../../../styles/scss/breakpoint';
@import '../../../../../styles/scss/shared/helper';


.section {
  padding: 160px 0 100px;
}

.breadcrumbs {
  margin-bottom: 70px;
}

.title {
  margin-bottom: 60px;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;

  span {
    color: $color-yellow;
  }
}

.cars {
  margin-bottom: 90px;
}
