@import '../../../../../styles/scss/variables';
@import '../../../../../styles/scss/breakpoint';
@import '../../../../../styles/scss/shared/helper';

.section {
  padding: 100px 0 150px;

  @include large {
    padding: 50px 0 70px;
  }

  @include tablets {
    padding: 50px 0 80px;
  }

  @include small {
    padding: 50px 0;
  }
}

.title {
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;

  font-family: PlayfairDisplay, serif;

  @include large {
    margin-bottom: 40px;
    font-size: 25px;
  }

  @include x-small {
    font-size: 20px;
  }

  span {
    position: relative;
    @include yellowLineUnderTitle();
  }
}
