@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';
@import '../../../styles/scss/shared/helper';

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  position: relative;
  text-transform: uppercase;
  font-family: NotoSans, sans-serif;
  font-weight: 500;

  @include large {
    font-size: 12px;
  }

  @include x-small {
    font-size: 10px;
  }

  &:not(:last-child) {
    margin-right: 35px;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -23px;
      transform: translateY(-30%);
      @include backgroundImg('icons/triangle.svg', contain);
      width: 8px;
      height: 8px;

      @include x-small {
        width: 5px;
        height: 5px;
      }
    }
  }
}

.link {
  text-decoration: underline;
  text-shadow: 0 0 5px black;

  &:hover {
    color: $color-yellow;
  }
}

.page {
  color: $color-yellow;
  text-shadow: 0 0 5px black;
}

