@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';
@import '../../../styles/scss/shared/helper';

$margin: 40px;

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 100px;

  @include large {
    padding: 0 20px;
  }

  @include tablets {
    padding: 0;
  }

  @include small {
    padding: 0 100px;
  }

  @include x-small {
    padding: 0;
  }
}

.item {
  position: relative;
  width: calc((100% / 2) - (#{$margin} / 2));
  margin-bottom: $margin;

  @include large {
    width: calc((100% / 2) - (#{$margin} / 4));
    margin-bottom: $margin / 2;
  }

  @include small {
    width: 100%;
    margin-bottom: 25px;
  }
}

.img {
  @include background(cover);
  background-position: center;
  height: 320px;
  width: 100%;
  transition: all 0.3s ease-in;
  font-size: 0;

  @include x-large {
    height: 250px;
  }

  @include small {
    height: 220px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('#{$IMG_PATH}/pattern.png');
    opacity: 0.3;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 0 5px $color-white;

    & .name {
      text-shadow: 0 0 15px $color-yellow;
    }

    @include large {
      transform: scale(1);
      box-shadow: none;
      cursor: auto;

      & .name {
        text-shadow: 0 0 5px #000;
      }
    }
  }

  span {
    width: 100%!important;
    padding: 0 20px;
    text-align: start;
  }
}

.name {
  position: absolute;
  display: block;
  @include position(50%);
  bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-family: NotoSans, serif;
  z-index: 2;
  transition: text-shadow 0.2s ease-in;
  text-shadow: 0 0 5px $color-background;

  @include large {
    font-size: 16px;
  }
}
