@import '../../../../../styles/scss/variables';
@import '../../../../../styles/scss/breakpoint';
@import '../../../../../styles/scss/shared/helper';

.section {
  position: relative;
  padding: 100px 0;
  background-color: $color-light-background;

  @include x-large {
    padding: 50px 0 70px;
  }

  @include tablets {
    padding: 30px 0 50px;
  }

  &:after {
    @include sectionDie(70, top, 20);
  }

  &:before {
    @include sectionDie(70, bottom, 20);
  }
}

.title {
  margin-bottom: 90px;
  font-size: 44px;
  text-transform: uppercase;

  @include x-large {
    margin-bottom: 70px;
    font-size: 35px;
  }

  @include large {
    margin-bottom: 50px;
    font-size: 25px;
  }

  @include x-small {
    font-size: 20px;
  }

  span span {
    color: $color-yellow;
  }

  span {
    position: relative;
    @include yellowLineUnderTitle();
  }
}

.img_content {
  position: relative;
  display: flex;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
  }
}

.container {
  @include large {
    padding: 0!important;
  }
}

.img {
  position: relative;
  margin-right: 30px;
  min-width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  @include large {
    margin: 0;
  }

  @include tablets {
    height: 250px;
  }

  @include x-small {
    margin-bottom: 60px;
    height: 150px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('#{$IMG_PATH}/pattern.png');
    opacity: 0.3;
  }
}

.list {
  @include tablets {
    padding-right: 30%;
  }

  @include small {
    padding: 0;
  }
}

.item {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 10px;

    @include tablets {
      margin-bottom: 15px;
    }
  }
}

.icon {
  @include background(100%);
  background-position-y: 5px;
  min-width: 25px;
  min-height: 35px;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.text {
  font-family: 'NotoSans', sans-serif;
  font-weight: 300;
  font-size: 20px;

  @include x-large {
    font-size: 17px;
  }

  @include large {
    font-size: 14px;
  }

  @include tablets {
    line-height: 1.5;
  }
}
