@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';
@import '../../../styles/scss/shared/helper';

.title {
  margin-bottom: 60px;
  font-size: 28px;
  font-family: PlayfairDisplay, serif;
  text-transform: uppercase;
  text-align: center;

  @include x-small {
    margin-bottom: 40px;
    font-size: 25px;
    text-align: start;
  }

  span {
    position: relative;
    @include yellowLineUnderTitle();
  }
}
