@import '../../../styles/scss/variables';
@import '../../../styles/scss/breakpoint';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 90px;
    font-family: NotoSans, sans-serif;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.phone_number {
    display: flex;
    align-items: center;
}

.icon {
    background-image: url(#{$IMG_PATH}/icons/call.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.link {
    position: relative;

    &.active {
        cursor: auto;
        text-shadow: 0 0 20px $color-yellow;

        &:after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $color-yellow;
        }
    }

    &:not(.active):after {
        content: "";
        position: absolute;
        bottom: -7px;
        right: 0;
        width: 0;
        height: 5px;
        background-color: $color-white;
        transition: width .3s ease-in-out;
    }

    &:not(.active):hover:after {
        content: "";
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $color-yellow;
        transition: width .3s ease-in-out;
    }
}

.logo {
    background-image: url(#{$IMG_PATH}/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 40px;
    transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
    border-radius: 5px;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0 20px 0 #FFFFFF7C;
        transition: transform 0.3s ease-in-out;
    }
}
