html {
  box-sizing: border-box;
}

html, body { scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $color-background;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $color-white;

  & #__next {
    overflow-x: hidden!important;
  }

  &.modal-active {
    margin-right: $without-scroll-width;
    //padding-right: 15px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
